LAB_01/code/.idea/
LAB_01/code/.venv/
LAB_01/.idea/
IOT_LAB_FOR_WINDOWNS/project_env/
IOT_LAB_FOR_WINDOWNS/project_env_3_9/
IOT_LAB_FOR_WINDOWNS/project_env_3_10/
IOT_LAB_FOR_WINDOWNS/project_env_3_11/
IOT_LAB_FOR_WINDOWNS/project_env_3_12/
IOT_LAB_FOR_WINDOWNS/LAB_02/BBC_SimulTool.zip
IOT_LAB_FOR_WINDOWNS/LAB_02/BBC_SimulTool/
 IOT_LAB_FOR_WINDOWNS/LAB_02/__pycache__/*